.address-main-wrapper {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-address {
    display: flex;
    flex-direction: row;

    gap: 10px;
    
}

.card-address {
    width: 20rem;
    height: 20rem;

    border: 2px solid rgb(212, 212, 212);
    border-radius: 20px;
    
    list-style: none;

    padding: 0; 
    margin: 0;
}

.card-address.add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width:20%;

    border: 2px dotted rgb(212, 212, 212);
}

.card-address.add:hover {
    cursor: pointer;
}

.card-item {
    padding: 0.5rem 1rem;
}

.add-icon {
    display: inline-block;
    width: 30%;
}

.add-text {
    display: block;
}


@media (max-width: 600px) {
    .cards-address {
        display: flex;
        flex-direction: column;

    }

    .card-address.add {
        width:auto;
        height:20%;
    }

    .card-address {
        width: 100%;
        margin-bottom: 10px; 
    }
}
